.root {
    -fx-font-family: 'Poppins';
    -fx-background-color: #F7F9F9;
    -fx-padding: 20;
}

.header-text {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
}

.date-text {
    -fx-font-size: 16px;
    -fx-text-fill: #2C3E50;
}

.section-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
}

.big-number {
    -fx-font-size: 72px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.name-text {
    -fx-font-size: 20px;
    -fx-text-fill: #2C3E50;
}

.doctor-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
    -fx-padding: 10 0 0 0;
}

/* Panel umum */
.panel {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.08), 5, 0.0, 0, 2);
    -fx-pref-width: 250;
    -fx-min-width: 200;
    -fx-max-width: Infinity;
}

/* Warna ruangan */
.room-available {
    -fx-background-color: #D4EFDF;
}
.room-rest {
    -fx-background-color: #FADBD8;
}
.room-consulting {
    -fx-background-color: #F9E79F;
}

/* Statistik box */
.counter-box {
    -fx-background-color: #ECF0F1;
    -fx-background-radius: 10;
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-pref-width: 250;
    -fx-min-width: 180;
    -fx-max-width: Infinity;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 6, 0.0, 0, 1);
}

/* Teks besar dan judul */

.table-view {
    -fx-font-size: 16px; /* Ganti dengan ukuran yang kamu inginkan */
    -fx-table-cell-border-color: transparent;
}

.table-view .table-cell {
    -fx-font-size: 24px; /* pastikan ini ada jika isi sel tidak ikut membesar */
    -fx-padding: 10 5;
}

.table-view .column-header,
.table-view .column-header .label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
}
